.header {
    background: #E5E5E5;
    
}

.card {
	height: auto;
	user-select: none;
}


.product-img {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: all .2s ease-in-out;
}

.product-img:hover {
	transform: scale(1.2);
}

.item-title {
    font-size: 1.5rem;
    font-weight: 500;
	font-family: 'Merriweather', serif;
	height: 70px;
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
	user-select: none;
}

.items__control:hover {
    background: #c6f1a1;
    color: #FFF;
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	height: 26px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: #6c757d!important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.price__text {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-success {
    color: #00735A;
    border-color: #c6f1a1;
	font-weight: 700;
	transition: all .2s ease-in-out;
}


.btn-outline-success:hover {
    color: rgb(26, 77, 51);
    background-color: #c6f1a1;
    border-color: #c6f1a1;
	transform: scale(1.2);
}

.card img {
	width: auto;
    max-height: 286px;
}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	padding-bottom: 15px;
	border-bottom: 1px solid #d4d9dd;
	margin-bottom: 15px;
}

.cart-item__img  {

}

.cart-item__img img {
	max-width: 70px;
	height: auto;
}

.cart-item__desc {
	padding-top: 15px;
	padding-left: 15px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}

.delivery-cost {

}

.free {
	color: #0EA107;
}

.total-price {
	color: #2d6e35;
}

.rouble {
	color: #13471c;
}

.none {
	display: none;
}

.card__fix {
	max-width: 400px;
	
	
}
.btn {
	background: linear-gradient(129.54deg, #b6eaae 15.57%, #88d874 95.03%), #FFFFFF;
}

.bm {
	margin-top: 20px;
}

.close {
	font-size: 30px;
	padding-left: 25px;
	color: rgba(255, 0, 0, 0.493);
	cursor: pointer;
	transition: 0.2s;
}

.close:hover { 
	
	transition: 0.2s;
	color: rgb(255, 0, 0);
}

.kozina {
	
	
}

.setchik__text {
	background: #ff000085;
  clip-path: circle(50%);
  height: 40px;
  width: 40px;
	right: 10px;
	bottom: 50px;
	font-size: 30px;
	position: fixed;
	z-index: 700;
	color: rgb(255, 255, 255);
	
	
}

.kozina__img {
	right: 10px;
	bottom: 10px;
	width: 70px;
	position: fixed;
	z-index: 600;
}

.weight0 {
	padding: 10px 10px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: rgb(196, 236, 198);
	font-weight: bold; 
}

.weight00 {
	padding: 10px 10px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: rgb(196, 236, 198);
	font-weight: bold; 
}



.min {
	color: rgb(240, 85, 85);
}

.litr {
	padding: 10px 10px;
	border-radius: 10px;
	background-color: rgb(196, 236, 198);
	font-weight: bold; 
}

.rounded {
	width: 30px;
}

@media (max-width: 770px) {
	.kozina {
		
		display: block;
	}

	.card__fix {
		display: none;
	}

	.details-wrapper {
		flex-direction: column;
	}

	.price__currency {
		padding-top: 20px;
	}

	.item-title {
	 margin-bottom: 30px;
	}
	
	.toast-container{
		display: none;
	}

	
}


